*
!codeforces/**/*.cpp
!aoc_2025/**/*.cpp
!aoc_2025/**/*.py
codeforces/**/template.cpp
!*/
!uva*
!kattis/
!kattis/**
!usaco/**
!leetcode/**
!catournament/**
*/*.in*
*/*.out*
*/run
*/template.cpp
*/*.o*
